{% extends "core/base.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">nome</th>
            <th scope="col">ações</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <th>{{ categoria.id }}</th>
            <td>{{ categoria.nome }}</td>
            <td>
                <a href="{% url 'editar-categoria' categoria.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'excluir-categoria' categoria.id %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}